<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-item *ngFor="let product of products"
      routerLink="/product-details/{{ product.id }}">
      <ion-thumbnail slot="start">
        <img src="{{ product.image }}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ product.name }}</h3>
        <p>
          <span class="left">{{ product.category }}</span><span
            class="right">&euro;{{ product.cost }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-grid>
</ion-content>