<ion-app class="md ios">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content"
      type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- <app-menu></app-menu> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cart">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="recommendations">
        <ion-icon name="gift"></ion-icon>
        <ion-label>Suggestion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>